
<table class="table" ng-cloak>
	<thead>
    <tr>
      <th>{{vm.date}}</th>
      <th>{{vm.city}}</th>
      <th><img class="svg city-header" src="/img/worldgrid.svg"/></th>
      <th><img class="svg date-header" src="/img/clock.svg"/></th>
    </tr>
  </thead>

   <tbody>
         <tr ng-repeat="classified in vm.classifiedList">
        
          <td class="post-image"><img src="{{classified.images[0].path.url}}" width="150" height="100" /></td>
          
          <td>
          	<h4><a href="/{{vm.locale}}/classified_ads/{{classified.id}}"> {{classified.title}}</a></h4>
          	<p>{{classified.description}}</p>
          </td>
          <td class="post-city">
          	<h5>
          	{{classified.city.english_name}}
          	</h5>
          </td>
          <td>{{classified.created_at | date:"dd/MM/yyyy 'at' h:mma"}}</td>
        
      </tr>
 
  </tbody>
</table>




