<h1>Listing Classified Ads</h1>

<table class="table" ng-cloak>


   <tbody>
    
      <tr ng-repeat="classified in vm.classifiedList">
        <a href="/classified_ads/{{classified.id}}">
          <td><img src="" width="150" height="150" /></td>
          <td> {{classified.title}}</td>
          <td>{{classified.description}}</td>
        </a>
      </tr>
 
  </tbody>
</table>


