<% content_for :sidebar do %>
<%= render "classified_ads/partials/sidebar" %>
<% end %>
	
<a href="/<%= I18n.locale %>/classified_ads/new" class="btn btn-primary mdi-content-add"></a>
<div ng-view class="view-frame animate-view"></div>
